.Container {
  width: 1280px;

  display: grid;
  background: #faf5ea;
  margin: auto;

  padding: 20px 40px 20px 40px;
}

.WrapperProductPage {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 2fr));

  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}
.MainImage {
  border-radius: 40px;
  width: 512px;
  height: 400px;
}
.SubImageWrapper {
  display: grid;
  width: 512px;
  //gap: 20;
  grid-template-columns: repeat(4, minmax(100px, 1fr));
}

.WrapperSubImage {
  margin-right: 20px;
}
.SubImage {
  border-radius: 40px;
  width: 121px;
  height: 113px;
}
.wrapperBoard {
  background: #fff;
  border-radius: 40px;
  //margin-right: 40px;
  padding: 20px;
  width: 600px;
  height: 229px;
}
.wrapperOption {
  // display: flex;
  // align-items: flex-start;
  // justify-content: flex-start;
  // flex-direction: row;
  // gap: 22px;
  // width: 600px;
  // height: 83px;
}
.ProductName {
  font-family: 'Jura', sans-serif;
  font-weight: 700;
  font-size: 36px;
  color: #393939;
}
.ProductDetails {
  width: 600px;
  height: 200px;
  // overflow: auto;
}
