.box {
  width: auto;
  margin: auto;
}

.menu {
  background-color: #fbf1d6;
  padding: 20px;
  width: 300px;
}

.menu ul {
  list-style-type: none;
  padding: 0;
}

.menu > ul > li {
  margin: 10px 0;
}

.menu ul ul {
  margin-left: 20px;
}

.menu ul ul li {
  margin: 5px 0;
}
