.card {
  background-color: white;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 16px;
  text-align: center;
  position: relative;
  overflow: hidden;
  max-width: 300px;
}

.imageContainer {
  position: relative;
}

.productImage {
  width: 100%;
  height: auto;
  border-radius: 12px;
}

.arrowLeft,
.arrowRight {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);

  border: none;
  font-size: 24px;
  cursor: pointer;
}

.arrowLeft {
  left: 8px;
}

.arrowRight {
  right: 8px;
}

.productName {
  font-size: 18px;
  margin: 12px 0;
}

.priceContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 8px;
}

.oldPrice {
  text-decoration: line-through;
  color: gray;
  margin-right: 8px;
}

.newPrice {
  font-size: 20px;
  color: #f00;
}

.ratingContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.rating {
  color: gold;
  margin-right: 4px;
}

.reviews {
  font-size: 14px;
  color: gray;
}
