/* src/components/Header.css */

.header {
  // display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fbf1d6;
  // padding: 10px 20px;
  width: 1280px;
  height: 44px;
  margin: auto;
}

.box {
  width: 1200px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 24px;
}

.menu {
  display: flex;
  align-items: center;
}

.catalog span {
  margin-right: 10px;
  font-size: 16px;
  font-family: 'Arial', sans-serif;
}

.menu-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 18px;
}

.menu-icon div {
  width: 20px;
  height: 2px;
  background-color: #8d8d8d;
}

.icon {
  border-radius: 20px;
  padding: 10px 20px;
  width: 64px;
  height: 44px;
  background: #fff;
}

.iconBox {
  width: 24px;
  height: 24px;
}

.icons {
  display: flex;
  gap: 40px;
  width: 376px;
  height: 44px;
}

.icons .fa-icon {
  font-size: 20px;
  color: #8d8d8d;
  cursor: pointer;
}
