/* src/components/Header.css */

.header {
  // display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #faf5ea;
  // padding: 10px 20px;
  width: 1280px;
  height: 64px;
  margin: auto;
}
.overflow-hidden {
  overflow: hidden;
}

.box {
  width: 1200px;

  margin: auto;
  padding-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu {
  display: flex;
  align-items: center;
}

.catalog span {
  margin-right: 10px;
  font-size: 16px;
  font-family: 'Arial', sans-serif;
}

.menu-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 18px;
}

.menu-icon div {
  width: 20px;
  height: 2px;
  background-color: #8d8d8d;
}

.icon {
  border-radius: 20px;
  padding: 10px 20px;
  width: 64px;
  height: 44px;
  background: #fff;
  cursor: pointer;
}

.iconBox {
  width: 24px;
  height: 24px;
  position: relative;
}

.icons {
  display: flex;
  gap: 40px;
  width: 376px;
  height: 44px;
}

.icons .fa-icon {
  font-size: 20px;
  color: #8d8d8d;
  cursor: pointer;
}

.cartItemCounter {
  background: linear-gradient(90deg, #a8dbaa 0%, #fafe0f 100%);
  border-radius: 50%;
  width: 18px;
  height: 18px;
  display: flex;
  justify-items: center;
  align-items: center;
  padding: 4px;

  position: absolute;
  top: -18px;
  right: -22px;
}

.counterValue {
  font-family: 'Jura', sans-serif;
  font-weight: 600;
  font-size: 16px;
  color: #393939;
}
