.sideMenuContainer {
  position: relative;
  z-index: 99;
  font-family: 'Jura', sans-serif;
}

.menuToggle {
  display: flex;
  align-items: center;
  cursor: pointer;
  background: #fff;
  border-radius: 20px;
  width: 148px;
  height: 44px;
}

.menuBox {
  width: 108px;
  height: 24px;
  display: flex;
  justify-content: space-between;
  margin: auto;
}

.menuTitle {
  font-family: 'Jura', sans-serif;
  font-weight: 600;
  font-size: 16px;
  color: #393939;
}

.menuToggle span {
  margin-right: 10px;
}

.dropdownIcon {
  font-size: 14px;
}

.menuIcon div {
  width: 20px;
  height: 2px;
  background-color: #8d8d8d;
  margin-top: 5px;
}

.categories {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  margin-top: 10px;
  position: absolute;
}

.category {
  background-color: #fff;
  margin-bottom: 10px;
  padding: 10px 20px;
  border-radius: 20px;
  width: 394px;
  height: 44x;
  transition: background-color 0.3s;
  cursor: pointer;
  position: relative;
  gap: 10px;
  display: flex;
  justify-content: space-between;
}

.category:hover,
.category.active {
  background-color: #fdd9db;
}

.subcategoriesContainer {
  position: absolute;
  left: 394px;
  top: 54px;
  background-color: #fff;
  border-radius: 40px;
  padding: 40px;
  animation: fadeIn 0.3s;
  display: grid;
  grid-template-rows: repeat(auto-fill, 200px);
  grid-auto-rows: max-content;
  grid-auto-flow: column;
  width: 540px;
  height: 680px;
  box-sizing: border-box;
  justify-content: space-between;
}

.subcategory {
  width: 200px;

  &>h4 {
    font-family: "Jura", sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: #393939;
    margin-bottom: 20px;
  }

  &>ul>li {
    font-family: "Tenor Sans", sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #393939;
  }
}

h4 {
  margin-bottom: 10px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 8px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateX(0);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}