/* src/components/NavigationBar.css */
.navbar {
  width: 1280px;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  // background-color: #a9e4ff;
  /* Light blue background color */
  padding: 10px 40px;
  /* width: auto; */
  margin: auto;
  /* border-radius: 10px; */
  box-shadow:
    0 2px 6px 2px rgba(199, 169, 156, 0.15),
    0 1px 2px 0 rgba(251, 241, 214, 0.25);
  background: #c5e1ed;
}

.navbar_logo {
  font-family: 'Jura', sans-serif;
  color: #393939;
  vertical-align: center;
  font-size: 16px;
  font-weight: 600;
  width: 80px;
  height: 40px;
  background: #e6f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.warranty {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 10px;
  border-radius: 44px;
  padding: 12px 24px;
  width: 116px;
  height: 43px;
  font-family: 'Tenor Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #e69779;
}

.exchange {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 10px;
  border-radius: 44px;
  padding: 12px 24px;
  width: 97px;
  height: 43px;
  font-family: 'Tenor Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #e69779;
}

.news {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 10px;
  border-radius: 44px;
  padding: 12px 24px;
  width: 109px;
  height: 43px;
  font-family: 'Tenor Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #e69779;
}

.support_service {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 10px;
  border-radius: 44px;
  padding: 12px 24px;
  width: 201px;
  height: 43px;
  font-family: 'Tenor Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #e69779;
}

.blog {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 10px;
  border-radius: 44px;
  padding: 12px 24px;
  width: 85px;
  height: 43px;
  font-family: 'Tenor Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #e69779;
}

.navbar_links {
  display: flex;
  gap: 10px;
}

.navbar_links a {
  // text-decoration: none;
  // color: #d19087;
  /* Light brown color */
}

.navbar_auth {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 10px;
  border-radius: 20px;
  padding: 10px 20px;
  width: 284px;
  height: 44px;
  background: #fff;
}

.auth {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  gap: 20px;
  width: 244px;
  height: 24px;
}

.text {
  font-family: 'Jura', sans-serif;
  font-weight: 600;
  font-size: 16px;
  color: #393939;
}

.auth_button {
  background-color: white;
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
}

.auth_button::before {
  // content: '👤';
  /* User icon */
}
