.emptyContent {
  margin: auto;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.iconCry {
  width: 6.25rem;
  height: 6.25rem;

  color: #91a0a5;
  margin-bottom: 20px;
}

.emptyContent h3 {
  font-family: 'Jura', sans-serif;
  font-weight: 600;
  font-size: 26px;
  color: #91a0a5;

  margin-bottom: 10px;
}

.emptyContent h6 {
  font-family: 'Jura', sans-serif;
  font-weight: 600;
  font-size: 16px;
  color: #91a0a5;

  margin-bottom: 20px;
}

.emptyCartBtn {
  border-radius: 20px;
  padding: 10px 20px;

  box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.15), 0 1px 2px 0 rgba(0, 0, 0, 0.3);
  background: linear-gradient(90deg, #a8dbaa 0%, #fafe0f 100%);

  font-family: 'Tenor Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #393939;

  &:hover {
    outline: 2px solid #a894d3;
    background: transparent;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.3),
      0 8px 12px 6px rgba(0, 0, 0, 0.15);
  }

  &:active {
    background: #94d397;
    outline: none;
    box-shadow: none;
  }
}
.toDiscountsLink {
  font-family: 'Tenor Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #a894d3;
  width: fit-content;

  text-align: center;

  border-radius: 44px;
  padding: 12px 24px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;

  transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    border-bottom: 1px dashed #e69779;
  }

  &:active {
    outline: 1px dashed #e69779;
  }
}
