.overlay {
  background: rgba(0, 0, 0, 0.15);
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: end;
  align-items: end;
  z-index: 1000;
}

.modalContent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 80vh;
  min-width: 50vw;
  margin-right: 20px;
  margin-bottom: 32px;
  background: #fff;
  border-radius: 40px;
  padding: 20px;
  margin-top: auto;
  margin-bottom: auto;
}

.modalHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  font-family: 'Jura', sans-serif;
  font-weight: 700;
  font-size: 36px;
  color: #91a0a5;
  text-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.closeIcon {
  height: 24px;
  width: 24px;
  color: #91a0a5;
}

.cartFooter {
  margin-top: auto;
}

.totalPrice {
  text-align: right;

  font-family: 'Jura', sans-serif;
  font-weight: 600;
  font-size: 26px;
  color: #393939;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;

  font-family: 'Tenor Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #393939;

  margin-top: 24px;
}

.continueBtn {
  border: 2px dashed #afc1e7;
  border-radius: 44px;
  padding: 12px 24px;
  transition: border 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.continueBtn:hover {
  border: 2px dashed #94d397;
}

.continueBtn:active {
  border: 2px solid #94d397;
  color: #94d397;
}

.orderBtn {
  border-radius: 20px;
  padding: 10px 20px;

  box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.15), 0 1px 2px 0 rgba(0, 0, 0, 0.3);
  background: linear-gradient(90deg, #a8dbaa 0%, #fafe0f 100%);

  transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.orderBtn:hover {
  border: 2px solid #a894d3;
  background: transparent;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.3), 0 8px 12px 6px rgba(0, 0, 0, 0.15);
}

.orderBtn:active {
  background: #94d397;
  border: none;
  box-shadow: none;
}

.cartItems {
  max-height: 60vh;
  overflow-y: auto;
  padding: 20px 0;
}

.cartItem {
  position: relative;
  width: 100%;
  margin-bottom: 20px;
}

.cartItem hr {
  border: 1px solid #e8ecef;
  width: 100%;
  margin-top: 20px;
}

.itemImage {
  border-radius: 10px;
  width: 7.5rem;
  height: 7.5rem;
  background: #cfcfcf;
  margin-right: 20px;
}

.itemWrap {
  display: flex;
  width: 100%;
}

.itemName {
  font-family: 'Jura', sans-serif;
  font-weight: 600;
  font-size: 16px;
  color: #393939;
  width: 100%;
  margin-bottom: 20px;
}

.deleteItem {
  position: absolute;
  top: 0;
  right: 0;
  color: #91a0a5;
  width: 24px;
  height: 24px;
}

.quantityControl {
  display: flex;
  align-items: center;
}

.itemPrice {
  position: absolute;
  right: 0;

  font-family: 'Jura', sans-serif;
  font-weight: 600;
  font-size: 22px;
  text-align: right;
  color: #393939;
}

.quantityControl > span {
  font-family: 'Jura', sans-serif;
  font-weight: 600;
  font-size: 22px;
  color: #393939;
  margin-right: 10px;
}

.quantityBtn {
  color: #91a0a5;
  width: 24px;
  height: 24px;
  margin-right: 10px;
}
