/* Footer.module.scss */
.WrapperFooter {
  display: flex;
  justify-content: center;
  //background-color: #333;
}

.Footer {
  display: grid;
  grid-template-columns: repeat(4, 4fr);
  gap: 20px;
  background-color: #333;
  //width: 100%;
  width: 1280px;
  padding: 20px;
}

.section {
  color: white;
}

.styleCategories {
  font-family: 'Jura', sans-serif;
  font-weight: 600;
  font-size: 26px;
  color: #c6d6e6;
  margin-bottom: 20px;
}

.oneCategory {
  font-family: 'Tenor Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #e6f0f0;
  margin-bottom: 5px;
}

.WrapperOurSecSocialMedia {
  border-left: 1px solid #c5e1ed;
  padding-left: 25px;
}

.OurSecSocialMedia {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  cursor: pointer;
}

.allSocialMediaIcons {
  display: grid;
  grid-template-columns: repeat(5, auto);
  gap: 2px;
  margin: 20px 0px 40px 0px;
}
.iconsStyle {
  width: 40px; /* Adjust size as needed */
  height: 30px;
}
// img {
//   width: 24px; /* Adjust size as needed */
//   height: 24px; /* Adjust size as needed */
// }

@media (max-width: 768px) {
  .Footer {
    grid-template-columns: repeat(2, 1fr);
  }

  .WrapperOurSecSocialMedia {
    border-left: none;
    padding-left: 0;
  }

  .OurSecSocialMedia {
    display: grid;
    // grid-template-columns: ;
  }
}
@media (max-width: 480px) {
  .Footer {
    grid-template-columns: 1fr;
  }

  .OurSecSocialMedia {
    grid-template-columns: repeat(2, 1fr);

    .styleCategories {
      font-size: 20px;
    }

    .oneCategory {
      font-size: 14px;
    }
  }
}
